/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #EEEEEE;    /* achtergrondkleur lichtgrijs */
  color: #303030;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 80%;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
     color: #f09d28;            /*kleur titels*/
  font-family:monospace;          /*lettertype titels*/
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

  

.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */


.smalltext {
    text-align: center;        /* plaats ondertekst*/
    font-size: 0.7em;           /*grote ondertekst*/
}  

a {
    color: skyblue;          /*kleur huidge pagina in bovenbalk*/
    text-decoration: none;
}

 a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #403dff;
    overflow: hidden;
}

nav ul li {
    float: left;         /*plaats navigatiebalk*/
}

nav li a {                 /*tekst navigatiebalk*/
    display: block;
    color: #f09d28;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:monospace;
}

nav li a:hover {
    background-color: #aaaaaa;    /*kleur navigatiebalk bij hoveren*/
}

nav li a.active {
    background-color: skyblue;
}
.tekstboven {        
  width:100%;            /*breedte tekst boven (hoofdpagina)*/
}

.rechtskolom{          /*div van de foto rechtsboven (bijpagina's)*/
  float:right;          /*positie*border*/
  width:330px;          /*grote van div*/
  margin-top:30px;       /*ruimte aan de bovenkant*/
  margin-left:8px;        /*ruimte links*/
}
.linksrij {                   /*div van tekst linksboven(bijpagina's)*/
  float:top-left;             /*positie*/
  width:calc(100%-330px)      /*breedte*/
}
.fotoonderR{          /*div van foto rechtsonder (bijpagina's)*/
  width:48%;          /*breedte div*/
  float:right;        /*positie*/
}
.fotoonderL{          /*div van foto linkssonder (bijpagina's)*/
  width:48%;          /*breedte div*/
  float:left;           /*positie*/
}
.tekstonder{          /*div van tekst 2 (bijpagina's)*/
  width:100%;          /*breedte*/
}

.Allefotos{            /*class voor opmaak alle foto's*/
  border-style:groove;        /*soort border*/
  border-color:#f09d28;      /*border kleur*/
  border-width:10px;          /*border breedte*/
  width:100%;                  /*breedte foto's in div*/
}

.Fotorechts {          /*class voor foto's rechtsboven (bijpagina's)*/
  margin-left: 15px;     /*ruimte links*/
  float:right;            /*positie*/
  margin-top:15px;        /*ruimte boven*/
}

.rij2L {         /*class voor foto's linksonder (bijpagina's)*/
  width:48%;      /*breedte foto's*/
  float:left;     /*positie foto's*/
  margin-right: 2px;  /*ruimte tussen foto's links en rechts*/ 
}
.rij2R {        /*class voor foto's rechtsonder (bijpagina's)*/
  width: 48%;    /*breedte foto's*/
  float:right;     /*positie foto's*/
  margin-left: 2px;   /*ruimte tussen foto's links en rechts*/ 
}



